@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  position: relative;
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  min-width: 195px;
}

.player-controls {
  display: flex;
  align-items: center;
  align-self: center;
  margin-right: 10px;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 18px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 5px;
  top: 2px;
  font-weight: 900;
}

.play-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
  transform: scale(1.1);
}

.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.change-quote:hover {
  transform: rotate(45deg);
}

.change-quote:active {
  transform: rotate(45deg);
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  transform: scale(1.05);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-settings {
  display: grid;
  grid-template-columns: 28px 1fr 35px;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.play-time {
  font-family: "Poppins";
  font-size: 11px;
  letter-spacing: 1.5px;
}

.play-time:nth-child(1) {
  justify-self: start;
}

.play-time:nth-child(2) {
  justify-self: end;
}

.play-bar {
  appearance: none;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  outline: none;
}

.play-bar:hover.play-bar::-webkit-slider-thumb {
  opacity: 1;
}

.play-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.play-trackname {
  margin-right: 7px;
  margin-bottom: 10px;
  align-self: center;
  text-align: left;
  font-weight: 600;
  user-select: none;
}

.play-buttons {
  display: flex;
  margin-bottom: 6.5px;
  justify-content: space-between;
}

.play-volumecontainer {
  display: flex;
  align-items: center;
  width: 25px;
  transition: all 0.2s ease 0s;
  overflow: hidden;
  margin-left: 0.5px;
}

.play-volume {
  width: 25px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.play-volumecontainer:hover {
  width: 110px;
}

.volume-bar {
  appearance: none;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  max-width: 60px;
  height: 3px;
  border-radius: 1.5px;
  outline: none;
  margin-left: 2px;
  margin-right: 5px;
  transition: all 0.2s ease 0s;
}

.play-volumecontainer:hover .volume-bar::-webkit-slider-thumb {
  opacity: 1;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.play-change {
  width: 20px;
  cursor: pointer;
}

.todo {
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
   display: flex;
   flex-direction: column;
   width: 350px;
   height: 250px;
   background-color: rgba(0, 0, 0, 0.5);
   border-top-left-radius: 10px;
   overflow: hidden;
   transition: all 0.3s ease 0s;
}

.todo.unactive {
   transform: translateY(84%);
}

.todo-btns {
   width: 100%;
   height: 40px;
   display: flex;
   gap: 2px;
}

.todo-active-button {
   width: 100%;
   background-color: transparent;
   background-color: rgba(0, 0, 0, 0.05);
   border: 1px solid transparent;
   font-size: 16px;
   letter-spacing: 2px;
   color: rgba(255, 255, 255, 0.5);
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.todo-active-button:hover {
   color: #fff;
}

.todo-btn {
   display: none;
   flex: 0 0 33.3%;
   background-color: transparent;
   background-color: rgba(255, 255, 255, 0.034);
   border: 1px solid transparent;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   font-size: 16px;
   color: rgba(255, 255, 255, 0.5);
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.todo-btn:hover {
   box-shadow: 0px 0px 10px rgb(163, 163, 163);
   color: #fff;
}

.todo-btn.active {
   color: #fff;
   box-shadow: 0px 0px 5px rgb(163, 163, 163);
}

.spisok {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   gap: 2px;
   overflow-y: scroll;
}

  .spisok::-webkit-scrollbar {
   width: 10px;
}

.spisok::-webkit-scrollbar-track {
   background-color: transparent;
}

.spisok::-webkit-scrollbar-thumb {
   background-color: rgba(59, 59, 59, 0.5);
   border-radius: 5px;
}  

.todo-deals {
   margin-top: 5px;
   margin-bottom: 15px;
   height: 160px;
}

.todo-item {
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 0px 5px;
}

.todo-item:hover > .todo-trash {
   opacity: 0.5;
   visibility: visible;
}

.todo-item:hover > .todo-complete {
   opacity: 0.5;
   visibility: visible;
}

.todo-item:hover > .todo-move {
   opacity: 0.5;
   visibility: visible;
}

.todo-item.completed {
   opacity: 0.3;
}

.todo-complete {
   flex: 0 0 auto;
   width: 25px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.todo-complete:hover {
   transform: scale(1.1);
   opacity: 1;
}

.todo-complete-img {
   width: 100%;
}

.todo-move {
   flex: 0 0 auto;
   width: 25px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.todo-move:hover {
   transform: scale(1.1);
   opacity: 1;
}

.todo-move-img {
   width: 80%;
}

.todo-item-text {
   flex: 1 0 auto;
   opacity: 0.8;
   font-size: 16px;
   color: white;
   text-align: left;
}

.todo-trash {
   flex: 0 0 auto;
   width: 25px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.todo-trash:hover {
   transform: scale(1.1);
   opacity: 1;
}

.todo-trash-img {
   width: 100%;
}

.todo-input {
   height: 30px;
   width: 100%;
   background-color: transparent;
   border: 1px solid transparent;
   outline: none;
   color: rgba(255, 255, 255, 0.5);
   padding-left: 10px;
   padding-bottom: 10px;
   font-size: 16px;
}

.todo-plans {
   height: 130px;
   margin-bottom: 15px;
}

.todo-plans-structure {
   margin-top: 5px;
   flex: 1 0 auto;
   display: none;
   flex-direction: column;
}

.todo-date {
   display: flex;
   align-items: center;
   border-radius: 10px;
   background-color: rgba(78, 78, 78, 0.3);
   margin: 0 50px;
}
.todo-date-icon-img {
   width: 30px;
}
.prev {
   opacity: 0.5;
   transform: rotate(180deg);
   height: 30px;
   cursor: pointer;
   transition: all .2s ease 0s;
   
}
.todo-plan-text {
   font-family: 'Poppins';
   flex: 1 0 auto;
   opacity: 0.8;
   font-size: 14px;
   color: white;
   letter-spacing: 1px;
}
.next {
   opacity: 0.5;
   height: 30px;
   cursor: pointer;
   transition: all 0.2s ease 0s;
   
}

.prev:hover {
   opacity: 0.8;
   transform: scale(1.1) rotate(180deg);
}

.next:hover {
   opacity: 0.8;
   transform: scale(1.1);
}

.todo-inbox {
   height: 160px;
   margin-top: 5px;
   margin-bottom: 15px;
   display: none;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  user-select: none;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  user-select: none;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
  user-select: none;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 1;
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 400px;
   background-color: rgba(0, 0, 0, 0.5);
   border-top-right-radius: 10px;
   overflow: hidden;
   transition: all 0.3s ease 0s;
}

.settings-active-button {
   width: 100%;
   height: 40px;
   background-color: transparent;
   background-color: rgba(0, 0, 0, 0.3);
   border: 1px solid transparent;
   font-size: 16px;
   letter-spacing: 2px;
   color: rgba(255, 255, 255, 0.5);
   transition: all 0.2s ease 0s;
   cursor: pointer;
}

.settings-active-button:hover {
   color: #fff;
}

.settings-wrapper {
   display: flex;
   flex: 1 0 auto;
   padding: 0px 0px;
   overflow: hidden;
}

.settings-navigation {
   display: flex;
   flex-direction: column;
   justify-content: end;
   gap: 15px;
   overflow: hidden;
   transition: all 0.2s ease 0s;
   border-right: 1px solid transparent;
}

.settings-navigation.active {
   background-color: rgba(255, 255, 255, 0.034);
   box-shadow: 0px 0px 7px rgb(133, 133, 133);
}

.settings-navigation-button {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 0 5px;
   height: 40px;
   background-color: transparent;
   border: 1px solid transparent;
   cursor: pointer;
}

.settings-navigation-button.active {
   opacity: 0.8;
}

.settings-navigation-button:last-child {
   margin-bottom: 15px;
}

.settings-navigation-button:hover .settings-navigation-image {
   transform: scale(1.2);
}

.settings-navigation-image {
   width: 30px;
   transition: all 0.2s ease 0s;
}

.settings-navigation-text {
   flex: 1 0 auto;
   opacity: 0.8;
   font-size: 16px;
   color: white;
   text-align: left;
   letter-spacing: 1px;
   font-weight: 400;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
