@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
   display: flex;
   flex-direction: column;
   min-width: 195px;
}

.player-controls {
  display: flex;
  align-items: center;
  align-self: center;
  margin-right: 10px;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 18px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 5px;
  top: 2px;
  font-weight: 900;
  
}

.play-item.active {
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
   border-radius: 5px;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
  transform: scale(1.1);
}

.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.change-quote:hover {
   transform: rotate(45deg);
 }

 .change-quote:active {
   transform: rotate(45deg);
 }

 .player-icon:hover {
  opacity: 1;
}

.player-icon:active {
   transform: scale(1.05);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-settings {
   display: grid;
   grid-template-columns: 35px 120px 35px;
   gap: 5px;
   justify-content: space-between;
   margin-bottom: 8px;
   align-items: center;
}

.play-time {
   font-family: 'Poppins';
   font-size: 11px;
   letter-spacing: 1.5px;
}

.play-time:nth-child(1) {
   justify-self: start;
}

.play-time:nth-child(2) {
   justify-self: end;
}

.play-bar {
   appearance: none;
   background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%);
   width: 100%;  
   height: 3px;
   border-radius: 1.5px;
   outline: none;
}

.play-bar:hover.play-bar::-webkit-slider-thumb {
   opacity: 1;
}

.play-bar::-webkit-slider-thumb {
   -webkit-appearance: none;
   opacity: 0;
   background-color: #fff;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.2s ease 0s;
}

.play-trackname {
   margin-bottom: 10px;
   align-self: center;
   text-align: left;  
   font-weight: 600;
}

.play-buttons {
   display: flex;
   margin-bottom: 6.5px;
   justify-content: space-between;
}

.play-volumecontainer {
   display: flex;
   align-items: center;
   width: 25px;
   transition: all 0.2s ease 0s;
   overflow: hidden;
   margin-left: 0.5px;
}

.play-volume {
   width: 25px;
   cursor: pointer;
   transition: all 0.2s ease 0s;
}

.play-volumecontainer:hover {
   width: 110px;
}

.volume-bar {
   appearance: none;
   background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%);
   max-width: 60px;
   height: 3px;
   border-radius: 1.5px;
   outline: none;
   margin-left: 2px;
   margin-right: 5px;
   transition: all 0.2s ease 0s;
   
}

.play-volumecontainer:hover .volume-bar::-webkit-slider-thumb {
   opacity: 1;
}

.volume-bar::-webkit-slider-thumb {
   -webkit-appearance: none;
   opacity: 0;
   background-color: #fff;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.2s ease 0s;
}

.play-change {
   width: 20px;
   cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}